<%= form_with model: Title, url: zadanie8_zadania_path, data: { turbo: true, turbo_method: :post } do |f| %>
  <%= f.label "Title of film" %>
  <%= f.text_field :title %>
  <%= f.label "Starting year" %>
  <%= f.text_field :year %>
  <%= f.submit "Submit" %>
<% end %>

<div id="generate-lol">
  <div>
    <h1>Generate LOL</h1>
    <p>Click the button to generate LOL.</p>
  </div>
</div>
