<%= form_with model: Title, url: zadanie8_zadania_path, data: { turbo: true } do |f| %>
  <%= f.label "Title of film" %>
  <%= f.text_field :title %>
  <%= f.label "Starting year" %>
  <%= f.text_field :year %>
  <%= f.submit "Submit" %>
<% end %>

<div id="kupp">
</div>
