<div id="<%= dom_id title %>">
  <p>
    <strong>Tconst:</strong>
    <%= title.tconst %>
  </p>

  <p>
    <strong>Titletype:</strong>
    <%= title.titleType %>
  </p>

  <p>
    <strong>Primarytitle:</strong>
    <%= title.primaryTitle %>
  </p>

  <p>
    <strong>Originaltitle:</strong>
    <%= title.originalTitle %>
  </p>

  <p>
    <strong>Isadult:</strong>
    <%= title.isAdult %>
  </p>

  <p>
    <strong>Startyear:</strong>
    <%= title.startYear %>
  </p>

  <p>
    <strong>Endyear:</strong>
    <%= title.endYear %>
  </p>

  <p>
    <strong>Runtimeminutes:</strong>
    <%= title.runtimeMinutes %>
  </p>

  <p>
    <strong>Genres:</strong>
    <%= title.genres %>
  </p>

</div>
